@use './variables.scss' as *;

header {
  height: 130px;

  li.active {
    border-bottom: 5px solid $accent;

    a {
      color: $accent;
    }
  }

  a {
    color: $darker;
    font-weight: 700;
  }
}